@import "../../styles/breakpoints";
@import "../../styles/animations";


.scroll-container {
  height: 600vh;
  position: relative;
  width: 100%;
  background-color: var(--bg);
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--p-s);
  }

   > .scroll-down {
    position: fixed;
    top: var(--p-s);
    right: var(--p-s);
  }
}

.scroll-slider-section {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 15vh;

  @include desktop() {
    height: 32vh;
  }
}

.wheel {
  padding-bottom: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
  


  &__card {
    position: absolute;
    padding-bottom: 205px;
    top: 0;
    left: 0;
    width: 70vw;
    height: 600px;
    aspect-ratio: 1 / 1;

    img {
      background-position: top;
    }

    @include desktop() {
      height: 55vh;
      width: 22vw;
      padding-bottom: unset;
    }
  }

  
}

.wheel-data {
  @include tablet() {
  gap: 6rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    svg {
      fill: var(--text);
    }

    hr {
      position: relative;
      top: 2rem;
      color: var(--text);
      border-color: var(--text);

    }

    h3 {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      z-index: 5;
      text-transform: uppercase;
  
      @include tablet() {
        left: 90%;
        top: 7px;
      }
    }
  }

  &__toggle {
    z-index: 5;
    text-transform: uppercase;
    font-weight: var(--font-medium);
    display: flex;
    align-items: center;
    gap: 0.3rem;

    span {
      font-size: 1.4rem;
      width: 12px;

      @include tablet() {
        font-size: 1.9rem;
        width: 18px;
      }
    }
    @include tablet() {
      gap: 0.4rem;
    }

  }

  &__table {
    width: 100%;
    display: none;
    
    @include tablet() {
      display: block;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    
      th {
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: none;
      }

      td {
        font-size: 1rem;
        font-weight: 100;
      }
      th, td {
          text-align: left;
          padding: 8px;
      }

      tr {
        position: relative;
        width: 100%;
      }
      
      thead {
        // border-bottom: 1px solid white;
      }

      th:nth-child(1), td:nth-child(1) { width: 300px; }
      th:nth-child(2), td:nth-child(2) { width: 100px; }
      th:nth-child(3), td:nth-child(3) { width: 120px; }
      th:nth-child(4), td:nth-child(4) { width: 190px; }
      th:nth-child(5), td:nth-child(5) { width: 190px; }
    }
    
  }
}

.wheel-data__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h4 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  @include tablet() {
    display: none;
  }

  p {
    margin-bottom: 0.4rem;
    display: inline-block;
    font-size: var(--size-text-s);
    text-transform: none;
    font-weight: var(--font-regular);
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
  }
}

