@import "../../styles/breakpoints";
@import "../../styles/animations";


.scroll-container {
  height: 600vh;
  position: relative;
  width: 100%;

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--p-s);
  }

   > .scroll-down {
    position: fixed;
    top: var(--p-s);
    right: var(--p-s);
  }
}

.scroll-slider-section {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 15vh;

  @include desktop() {
    height: 32vh;
  }
}

.wheel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
  
  &__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 230px;
    aspect-ratio: 1 / 1;

    img {
      background-position: top;
    }
  }
  @include desktop() {
    &__card {
      height: 55vh;
      width: 22vw;
    }
  }
}

.wheel-data {
  @include tablet() {
  gap: 6rem;
  }

  &__row {
    position: relative;
    width: 100%;
    
    svg {
      fill: var(--text);
    }

    hr {
      position: relative;
      top: 2rem;
      color: var(--text);
      border-color: var(--text);

    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  
    th {
      font-size: 0.7rem;
      font-weight: 500;
      text-transform: none;
    }

    td {
      font-size: 0.9rem;
      font-weight: 500;
    }
    th, td {
        text-align: left;
        padding: 8px;
    }

    tr {
      position: relative;
      width: 100%;



    }
    
    thead {
      // border-bottom: 1px solid white;
    }

    th:nth-child(1), td:nth-child(1) { width: 300px; }
    th:nth-child(2), td:nth-child(2) { width: 100px; }
    th:nth-child(3), td:nth-child(3) { width: 120px; }
    th:nth-child(4), td:nth-child(4) { width: 190px; }
    th:nth-child(5), td:nth-child(5) { width: 190px; }
}

h3 {
  position: absolute;
  top: 0;
  left: 70%;
  width: 100%;

  @include tablet() {
    left: 90%;
    top: 10px;
  }
}
}

.wheel-data__row-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  span {
    margin-bottom: 0.4rem;
    display: inline-block;
    font-size: var(--size-text-s);
    text-transform: none;
    font-weight: var(--font-regular);
  }
}