.project-container {
  width: 100%;
  height: 100vh;
  position: relative;

  main {
    width: 100%;
    height: 92%;
  }
}

.project-header{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.footer-project {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8%!important;
  // height: 8%; main: 92 footer:8 relation
}