@import "../../styles/index.scss";

.customCursor {
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
  position: fixed;
  z-index: 999999999;
  background: var(--cursor);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  mix-blend-mode: difference;
  transition: 0.6s transform;
}

.expanded {
  transform: translate(-50%, -50%) scale(2);
  transform-origin: center;
}

 canvas .customCursor {
  background-color: black!important;
 }