.theme-switcher {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--text)
}

.ts-box {
  position: relative;
  // border: 1px solid rgb(0, 255, 81);
  width: 80px;
  height: 12px;
  // cursor: pointer;
}

.ts-bg {
  background-color: var(--text);
  width: 100%;
  height: 100%;
  
}

.ts-pill {
  position: absolute;
  top: 50%;
  // right: -50%;
  border-radius: 50px;
  background-color: var(--bg);
  width: 100%;
  height: 150%;
  border: none;
  // cursor: pointer;

  transform: translateY(-50%); 
}