@import 'animations';

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NeueHaasGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NeueHaasGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NeueHaasGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



:root {
  --text-dark: #0C0B0A;
  --text-light: #dbdbdb;
  --bg-dark: #0C0B0A;
  --bg-light: #7d7c7c;

  /*Default colors */
  // --bg: var(--bg-dark);
  // --text: var(--text-light);

  /*Spacings*/
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;

  --p-s: 1rem;


}

[data-theme="light"] {
  --bg: var(--bg-light);
  --text: var(--text-dark);
}

[data-theme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-light);
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.8s ease, color 0.5s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Neue Haas Grotesk', 'Times New Roman';
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.8s ease;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 5rem;
  line-height: 0.85;
}

h2 {
  font-size: 2rem;
  line-height: 0.85;

}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
p,
a {
  position: relative;
  color: var(--text);
}

@media (max-width: 900px) {
  p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 0.85;
  }

  h2 {
    font-size: 2rem;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  text-transform: uppercase;
  display: inline-flex;
  line-height: 1.6;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(.5, 0, 0, 1);
  ;
  transform: scaleX(0) rotate(0.001deg);
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}

// Scroll down arrow
.scroll-down {
  font-size: 2rem;
  height: 35px;
  animation: bounce ease 1.5s infinite;
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0);
  }
}


/* Layout */
.main {
  padding: 0 var(--space-md);
}

.header {
  width: 100%;
  padding: var(--space-md);
}

.header-instr {
  position: fixed;
  top: var(--space-md);
  right: var(--space-md);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer {
  position: relative;
  width: 100%;
  height: 8vh;
}

.grid {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    flex-wrap: wrap;

    >* {
      width: 50%;
      margin: 0.5rem 0;
    }
  }
}

/* spacing */
.sp-side-s{
  padding: 0 var(--space-sm);
}

.sp-side-m{
  padding: 0 var(--space-md);
}



