:root {
  --bg: #272726;
  --text: #dbdbdb;
  --project: #b0b0b0;
  --project-text: #191c1a;
  --pink: #b69393;
  --pink-dark: #733c3c;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;

  --c-white: #c0bfcf;
  --c-white-1: #c0bfcf;
  --c-dark: #020202;
  --c-dark-1: #593838;
  --c-dark-2: #101010;

  /*Spacings*/
  --p-s: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  line-height: 0.85;
}

h2 {
  font-size: 2rem;
  line-height: 0.85;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
p,
a {
  position: relative;
  color: var(--text);
}

@media (max-width: 900px) {
  p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 4rem;
    line-height: 0.85;
  }
  h2 {
    font-size: 2rem;
  }
}

ul {
  list-style: none;
}

.link {
  text-transform: uppercase;
  display: inline-flex;
  line-height: 1.6;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transform-origin: right;
  transition: transform  0.3s cubic-bezier(.5, 0, 0, 1);;
  transform: scaleX(0) rotate(0.001deg);
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}

// Scroll down arrow
.scroll-down {
  font-size: 2rem;
  height: 35px;
  animation: bounce ease  1.5s infinite;
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}