@import "../../styles/breakpoints";

/* Home page */
.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home-footer {
  height: 8%!important;
  // height: 8%; main: 92 footer:8 relation

  :global(.grid) {
    gap: .5rem;

    @include tablet() {
      grid-template-columns: repeat(9, 1fr);

      &>:nth-child(1) {
        grid-column: 1 / 2;
      }
    
      &>:nth-child(2) {
        grid-column: 2/4;
        justify-self: start;
      }
    
      &>:nth-child(3) {
        grid-column: 8 / 10;
        text-align: right;
        grid-row: 1;
      }
    }
  }

  &__data {
    display: flex;
    padding: 1rem;
    align-items: center;
    height: 100%;
  }
}

.home-header {
  .theme-switch {
    display: inline-flex;
    justify-content: flex-end;
  }

  :global(.grid) {
    gap: .5rem;

    @include tablet() {
      grid-template-columns: repeat(9, 1fr);

      display: grid;

      &>:nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1;

      }
    
      &>:nth-child(2) {
        grid-column: 5;
        grid-row: 1;

      }
    
      &>:nth-child(3) {
        grid-column: 7 / 10;
      text-align: right;
      grid-row: 1;

      }
    }
  }
}

/* About */
section.about {
  margin: 4rem 0;
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;

  >* {
    width: 100%;

    @include tablet() {
      width: 75%;
      margin-left: auto;
    }
  }
}

.about-desc {
  gap: 10rem;

  p {
    font-size: var(--size-text-xl);
    text-transform: none;
    font-weight: 100;
  }

  .lil-text {
    margin-left: 0.7rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    top: -0.5rem;
    position: relative;
  }

  @include tablet() {
    width: 75%;
    margin-left: auto;

    p {
      text-indent: 3rem;
    }
  }
}

.about-data {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  p,
  a,
  li {
    font-weight: 100;
  }

  h4 {
    margin-bottom: 0.9rem;
  }

  @include desktop() {
    gap: 10rem;
    flex-direction: row;
  }
}

.about-col:nth-child(1) {
  flex: 3;
}

.about-col:nth-child(2) {
  flex: 2;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 0.5rem;

  &__social {
    grid-template-columns: 1fr;
  }
}


/* Projects nav list */
.projects-nav {
  margin: 8rem 0 2em 0;
  width: 100%;
}

.projects-nav-container {
  width: 75%;
  margin-left: auto;
  width: 100%;

  li {
    display: flex;
    flex-direction: column;
  }

  @include desktop() {
    width: 75%;
  }
}



.project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm) 0;
  height: 98px;
  gap: 0.5rem;

  &__l {
    display: flex;
    flex: 4;

    &-img {
      margin-right: var(--space-sm);
      width: 0;
      height: 100%;
      overflow: hidden;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      img {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &-name {
      position: relative;
    }
  }

  &__date {
    flex: 2;
  }

  &__dir {
    flex: 0.5;
    text-align: right;
    position: relative;
    top: 4px;
    right: calc(var(--space-sm));
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include tablet() {
      top: 10px;
      height: 115px;
    }

    svg {
      stroke: var(--text);
    }
  }
}

.project:hover .project__l-img {
  width: 120px;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project:hover .project__dir {
  top: 0px;
  right: 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.project__date {
  display: none;
}


@include desktop() {
  .project__date {
    display: block;
  }
}

.project-soon {
  position: absolute;
  top: 1px;
  left: 110%;
  text-wrap: nowrap;
  font-size: 0.7rem;
}

/*Hero*/
.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5em;
}

.hero .headers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.h1-revealer {
  position: relative;
}

.h1-revealer:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 120%;
  height: 7rem;
  background: var(--bg);
  z-index: 0;
}

.hero .headers .header-2 {
  margin-top: 4rem;
}

@media (max-width: 900px) {
  .hero .headers {
    flex-direction: column;
    gap: 3rem;
  }
}